/* Fraunces */

.fraunces-regular {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
}

.fraunces-bold {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
}

/* Sedan */

.sedan-regular {
  font-family: "Sedan", serif;
  font-weight: 400;
  font-style: normal;
}

.sedan-regular-italic {
  font-family: "Sedan", serif;
  font-weight: 400;
  font-style: italic;
}

/* Inknut */

.inknut-antiqua-light {
  font-family: "Inknut Antiqua", serif;
  font-weight: 300;
  font-style: normal;
}

.inknut-antiqua-regular {
  font-family: "Inknut Antiqua", serif;
  font-weight: 400;
  font-style: normal;
}

.inknut-antiqua-medium {
  font-family: "Inknut Antiqua", serif;
  font-weight: 500;
  font-style: normal;
}

.inknut-antiqua-semibold {
  font-family: "Inknut Antiqua", serif;
  font-weight: 600;
  font-style: normal;
}

.inknut-antiqua-bold {
  font-family: "Inknut Antiqua", serif;
  font-weight: 700;
  font-style: normal;
}

.inknut-antiqua-extrabold {
  font-family: "Inknut Antiqua", serif;
  font-weight: 800;
  font-style: normal;
}

.inknut-antiqua-black {
  font-family: "Inknut Antiqua", serif;
  font-weight: 900;
  font-style: normal;
}

/* ****************************************************************************************************** */

body {
	color: hsl(19, 63%, 54%);
	background-color: hsl(0, 11%, 12%);
	font-size: 3.2vw;
		font-family: "Fraunces", serif;
		font-optical-sizing: auto;
		font-weight: 800;
		font-style: normal;
		font-variation-settings:
			"SOFT" 1,
			"WONK" 0.5;
	padding: 3.2vw;
	text-align: center;
}

header, h1, main, p {
	display: inline;
	margin: 0;
	padding: 0;
}

h1 {
	padding-left: 16.5vw;
}

a {
	color: hsl(19, 63%, 74%);
	font-family: "Sedan", serif;
  font-weight: 400;
  font-style: italic;
}

p:nth-child(1) {
	color: hsl(19, 63%, 34%);
}

p:nth-child(2) {
	color: hsl(19, 63%, 44%);
}
