/* Fraunces */

.fraunces-regular {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
}

.fraunces-bold {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
}

/* Sedan */

.sedan-regular {
  font-family: "Sedan", serif;
  font-weight: 400;
  font-style: normal;
}

.sedan-regular-italic {
  font-family: "Sedan", serif;
  font-weight: 400;
  font-style: italic;
}

/* Inknut */

.inknut-antiqua-light {
  font-family: "Inknut Antiqua", serif;
  font-weight: 300;
  font-style: normal;
}

.inknut-antiqua-regular {
  font-family: "Inknut Antiqua", serif;
  font-weight: 400;
  font-style: normal;
}

.inknut-antiqua-medium {
  font-family: "Inknut Antiqua", serif;
  font-weight: 500;
  font-style: normal;
}

.inknut-antiqua-semibold {
  font-family: "Inknut Antiqua", serif;
  font-weight: 600;
  font-style: normal;
}

.inknut-antiqua-bold {
  font-family: "Inknut Antiqua", serif;
  font-weight: 700;
  font-style: normal;
}

.inknut-antiqua-extrabold {
  font-family: "Inknut Antiqua", serif;
  font-weight: 800;
  font-style: normal;
}

.inknut-antiqua-black {
  font-family: "Inknut Antiqua", serif;
  font-weight: 900;
  font-style: normal;
}

/* ****************************************************************************************************** */

body {
	color: hsl(19, 63%, 54%);
	background-color: hsl(0, 11%, 12%);
	font-size: 3.8vw;
		font-family: "Fraunces", serif;
		font-optical-sizing: auto;
		font-weight: 800;
		font-style: normal;
		font-variation-settings:
			"SOFT" 1,
			"WONK" 0.5;
	line-height: 1.2;
	padding: 3.2vw;
	text-align: center;
}

header, h1, main, p, aside {
	display: inline;
	margin: 0;
	padding: 0;
}

h1 {
	color: hsl(199, 63%, 64%);
	padding-left: 16.5vw;
}

/* color: hsl(19, 63%, 74%);
font-family: "Sedan", serif;
font-weight: 400;
font-style: italic; */

.asterisk {
	font-size: 9vw;
	vertical-align: -5.5vw;
}

a {
	text-decoration-skip-ink: auto;
	text-decoration-thickness: 1px;
	text-underline-offset: 4px;
}

p a.email {
	color: hsl(199, 63%, 64%);
}

p:nth-child(1), p:nth-child(7) {
	color: hsl(19, 63%, 34%);
}

p:nth-child(2), p:nth-child(5) {
	color: hsl(19, 63%, 44%);
}

p:nth-child(3), p:nth-child(5), p:nth-child(5) a {
	color: hsl(19, 63%, 54%);
}

p:nth-child(4) {
	color: hsl(19, 63%, 64%);
}
/*  */

a:hover {
	text-decoration-color: hsl(199, 63%, 64%);
	animation: cubic-bezier(1, 0, 0, 1)
}
